body {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

input[type='text'] {
  margin-top: 10px;
  font-size: 20px;
}

input[type='text']:nth-child(2) {
  border: solid 20px #ccc;
  line-height: 40px;
}
