body {
  width: 3000px;
  margin: auto;
  padding-top: 100px;
  box-shadow: 0 0 5px #ccc;
}

input[type='text'] {
  font-size: 20px;
  display: block;
  margin: 10px auto;
  box-shadow: 0 0 5px #ccc;
}

#t2 {
  border: solid 20px #ccc;
  line-height: 40px;
}

#t3 {
  width: 2500px;
  border: solid 20px #ccc;
  margin-left: 50px;
}