body {
  width: 70%;
  font-size: 1.5em;
  margin: auto;
  color: #222;
}

* {
  font-family: cursive;
}

select,
input {
  font-size: 1em;
}

input {
  width: 8em;
}

textarea {
  width: 265px;
  font-size: 0.8em;
}

h1 {
  font-size: 1em;
  border-bottom: solid 2px;
  margin-top: 1.5em;
  color: #000;
}