body {
  font-family: cursive;
  width: 1000px;
  margin: 0 auto;
}

a {
  display: table;
}

a:hover {
  background-color: #eee;
}

#frame {
  position: fixed;
  right: -295px;
  top: -240px;
  transform: scale(0.4);
  border: solid 5px #aaa;
  box-shadow: 0 0 50px #aaa;
}

.hidden {
  display: none;
}
