body {
  margin: auto;
  width: 800px;
  padding-top: 100px;
}
textarea {
  height: 100px;
}

section {
  border-bottom: solid 1px #ccc;
  padding: 15px 0;
}

#img {
  width: 100px;
  height: 200px;
  box-shadow: 0 0 2px;
}
