.month-container {
  display: inline-block;
  margin: 20px;
  border: 1px solid #000;
}

.month-title {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  font-size: 14px;
}

th {
  background-color: #f2f2f2;
}

.holiday {
  background-color: #ffcccc;
  font-weight: bold;
}